# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
/favicon_io

# debug
npm-debug.log*

# env files
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo
next-env.d.ts
